{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Admin
      </h1>

      <form action="/admin" method="post">
        {{ govukTextarea({
          name: "prompt",
          id: "prompt",
          label: {
            text: "Prompt",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Put the latest prompt in here. PromptAI seems to work better with Markdown."
          },
          value: prompt
        }) }}

        {{
          govukButton({
            text: 'Save Prompt',
            attributes: {
              id: 'submit'
            }
          })
        }}
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        {% include './useful-links.njk' %}
      </aside>

    </div>
  </div>
{% endblock %}
